body {
    margin: 0;
    font-family: Arial, sans-serif;
    overflow-x: hidden;
    color: white;
    position: relative;
}

.background {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: url('images/Cover 1.png');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    z-index: -1;
}

header {
    background-color: black;
    padding: 10px 2px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    box-sizing: border-box;
}

.logo {
    display: flex;
    padding-left: 10px;
    align-items: center;
}

.menu-icon {
    margin-right: 10px;
    background: url('images/Profile.jpg');
    background-size: contain;
    width: 40px;
    height: 40px;
}

.site-name {
    color: white;
}

.header-buttons {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
}

.header-buttons ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
    flex-wrap: wrap;
}

.header-buttons li {
    margin-left: 10px;
}

.header-buttons a {
    text-decoration: none;
    color: white;
    padding: 10px 20px;
    border-radius: 5px;
    display: inline-block;
}

.header-buttons a:hover {
    background-color: rgb(109, 109, 109);
}

main {
    padding: 40px;
    text-align: center;
}

.welcome-section {
    animation: slideInLeft 1.5s ease-in-out;
}

.welcome-message {
    font-size: 2.5em;
    margin-bottom: 20px;
}

.welcome-description {
    font-size: 1.2em;
    line-height: 1.6;
    margin-top: 20px;
}

.button-container {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

button {
    border-radius: 25px;
    background-color: rgba(255, 255, 255, 0.7);
    padding: 10px 20px;
    margin: 10px;
    font-size: 16px;
    cursor: pointer;
    border: none;
    opacity: 0.9;
    transition: all 0.8s ease;
}

button:hover {
    background-color: rgb(255, 255, 255);
}

@keyframes slideInLeft {
    0% {
        transform: translateX(-100%);
    }

    100% {
        transform: translateX(0);
    }
}

@keyframes typing {
    from {
        width: 0;
    }

    to {
        width: 100%;
    }
}

p {
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
    background-color: rgba(0, 0, 0, 0.7);
    border-radius: 10px;
}

/* Mobile Version */
@media only screen and (max-width: 480px) {
    body {
        height: 100%;
        width: 100%;
    }

    header {
        flex-direction: column;
        padding: 10px;
    }

    .header-buttons {
        margin-top: 10px;
        justify-content: center;
    }

    .header-buttons li {
        margin: 5px 0;
    }

    .welcome-message {
        font-size: 2em;
    }

    .welcome-description {
        font-size: 1em;
    }
}

/* Article News */
.article {
    box-shadow: 0 0 30px rgba(31, 45, 61, 0.125);
    overflow: hidden;
    background: #000000;
    padding: 15px;
    margin: 15px 0 30px;
    animation: slideInLeft 1.5s ease-in-out;
}

.article .article-title h2 {
    color: #ffffff;
    font-weight: 600;
}

.article .article-content h1,
.article .article-content h2,
.article .article-content h3,
.article .article-content h4,
.article .article-content h5,
.article .article-content h6 {
    color: #ffffff;
    font-weight: 600;
    margin-bottom: 15px;
    animation: slideInLeft 1.5s ease-in-out;
}

img {
    max-width: 100%;
    height: auto;
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
}